:root{
    --font-family: "Outfit", sans-serif;
    --font-weight: 700;
    --font-size: 1.5rem;
    --line-height: 14px;


}
body{
    font-family: var(--font-family);
    font-weight: var(--font-weight);
    font-size: var(--font-size);
    line-height:var(--line-height) ;
    letter-spacing: 1.3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-transform: uppercase;
    color: #1A2A33;
}
.conteiner{
    width: min(100%,500px);
    margin: 0 auto;
    padding: 0 20px;
}
ul{
    list-style: none;
}
/* HEADER */
.header__list{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 85px;
    margin-bottom: 20px;
}
.header__item{
    display: flex;
    gap: 8px;
}
.header__text{
    color: #A8BFC9;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 1px;
}
.header-dark2{
    gap: 13px;
    background: #1F3641;
    box-shadow: inset 0px -4px 0px #10212A;
    border-radius: 10px;
    padding: 13px 30px 19px;
}
.header-dark3{
    background: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
    border-radius: 10px;
    width: 52px;
    height:52px;
    background-image: url(../imgs/SVG/Restart.svg);
}
.header-dark2:hover{
    box-shadow: inset 0px -4px 0px #a89dea;
    transform: scale(.95);
}

.header-dark2:active{
    box-shadow: none;
    transform: scale(.85);
    opacity: 0.5;
}
.middle__wrap{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}
.restart__bc{
    height: 300px;   
    opacity: 0.5;    
    background-color: #000;
}
.middle-1{
    flex-grow: 1;
    background: #1F3641;
    padding: 67px 0 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.middle{
    opacity: 0.5;    
    height: 220px;
    background-color: #000;
}
.middle__button{
    background: #F2B137;
    box-shadow: inset 0px -4px 0px #CC8B13;
    padding: 16px 17px;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #1A2A33;     
    display: flex;
    align-items: center;
}
.middle__title{
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 2.5px;
    text-transform: uppercase;  
    color: #A8BFC9;
    margin-bottom: 31px;
}
.a1{
    background: #A8BFC9;
    box-shadow: inset 0px -4px 0px #6B8997;
    overflow: hidden;
}
/* .a1:active {
    background: #A8BFC9;
    box-shadow: none;
} */
input[id="res"]{
    display: none;
}
label[for^="res"]{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
input[id="res"]:checked + label+ .middle__wrap {
    display: block;
}
.list{
    display: flex;
    gap: 16px;
}

/* HEADER END */

/* MAIN */
.main__list{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3,140px);
    grid-template-rows: repeat(3,140px) ;
}

.main__item{
    background: #1F3641;
    box-shadow: inset 0px -8px 0px #10212A;
    border-radius: 15px;
    border-radius: 15px;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.875px;
    color: #1A2A33;
     
}
label img{
    display: none;
}
.main__item:hover {
    transform: scale(.91);
    box-shadow: inset 0px -4px 0px #a89dea;
    
}
input[id^="check"] {
    display: none;
}
input[id^="check"]:checked + label> img{
    display: block;
}

label[for^="check"]{
    display: flex;
    align-items: center;
    justify-content: center;
    width: min(100%,140px);
    height: min(100%,140px);
}

.number{
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 1.5px;
    color: #1A2A33;
}
.main__item-1{
    background: #31C3BD;
    height: 72px;
    padding-top: 13px;
    padding-bottom: 11px;
    box-shadow: none;
    border-radius: 15px;
}
.main__item-1:hover{
    transform: scale(1.1);
    box-shadow: inset 0px -4px 0px #777487;
}
.b1{
    background: #A8BFC9;
    border-radius: 15px;
}
.b2{
    background: #F2B137;
    border-radius: 15px;
}
.wrapper{
    height: 100%;
    width: 100%;
    background: #1A2A33;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
input[id="mode"]{
    display: none;
}
label[for="mode"]{
    position: absolute;
    left: 20px;
    padding: 1px;
    width: 60px;
    border-radius: 30px;
    top: 20px;
    background-color: #fff;
    transition: all .5s;
}
.oval{
    width: 30px;
    border-radius: 50%;
    background: #000;
    height: 30px;
    transition: all .5s;
}
input[id="mode"]:checked + label {
    background: #1A2A33;
}
input[id="mode"]:checked + label .oval {
    transform: translateX(28px);
    background: #fff;
}
input[id="mode"]:checked +label+.wrapper {
    background: #fff;
}
input[id="mode"]:checked +label+.wrapper .main__item {
    background: #6535bc;
    box-shadow: inset 0px -8px 0px #A8BFC9;
}
input[id="mode"]:checked +label+.wrapper .item_f +.main__item-1{
    background: #31C3BD;
    border-radius: 15px;
    box-shadow: none;
}
input[id="mode"]:checked +label+.wrapper .main__item-1 +.b1{
    background: #A8BFC9;
    box-shadow: none;
}
input[id="mode"]:checked +label+.wrapper .b1 +.b2{
    background: #F2B137;
    box-shadow: none;
}
input[id="mode"]:checked +label+.wrapper .header-dark2 {
    background: #6535bc;
    box-shadow: inset 0px -4px 0px #A8BFC9;

}

/* MAIN END */